html{
  min-height: 100%
}

body {
  background-color: #050505;
  min-height: 100%;
}

.o2 {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.o3 {
  background: linear-gradient(125deg, #29323c 5%, #485563 65%);
  animation: gradient-animation 7.5s ease infinite;
  background-size: 400% 400%;
}

.o7 {
  background: linear-gradient(125deg, #29323c 5%, #485563 65%);
  animation: gradient-animation 5s ease infinite;
  background-size: 400% 400%;
}

.o4 {
  background: linear-gradient(125deg, #780206 5%, #061161 65%);
}

.o5 {
  background: linear-gradient(125deg, #191919 5%, #0c0c0c 65%);
}

.o6 {
  background-image: url(assets/images/O8PHH00.jpg);
  background-size: 130%;
  background-position: top right;
}

.menu > a {
  color: gray;
}

.menu > a:visited {
  color: gray;
}

p {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
  color: #EB553C;
}

.colored-text {
    font-family: 'Righteous', cursive;
    font-size: 35px;
    animation: text-color 5s infinite alternate;
}

.v3 {
  color: #E62F13;
  font-family: 'Libre Baskerville', serif;
}

.v4{
  font-family: 'Cabin', sans-serif;
}

.v5{
  font-family: 'Cabin', sans-serif;
  font-size: 45px;
  color:#DC323D;
}

.v7{
  color: #DC323D;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

svg {
  height: 300px;
}

a {
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
a:hover, a:focus, a:active {
  transform: scale(.95);
  opacity: 0.5;
}

.st0 {
  animation: color_change 5s infinite alternate;
}

@keyframes color_change {
  0% { fill: #DC323D; }
  50% { fill: #061F67; }
  100% { fill: #FFFFFF; }
}

@keyframes text-color {
  0% { color: #DC323D; }
  50% { color: #061F67; }
  100% { color: #FFFFFF; }
}

@keyframes gradient-animation {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
