body {
  background-color: #050505;
}

.menu > a {
  color: gray;
}

.menu > a:visited {
  color: gray;
}

p {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
  color: #EB553C;
}

.colored-text {
    font-family: 'Righteous', cursive;
    font-size: 35px;
    animation: text-color 5s infinite alternate;
}

.v3 {
  color: #E62F13;
  font-family: 'Libre Baskerville', serif;
}

.v4{
  font-family: 'Cabin', sans-serif;
}

.v5{
  font-family: 'Cabin', sans-serif;
  font-size: 45px;
  color:#DC323D;
}

.v7{
  color: #DC323D;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
}

svg {
  height: 300px;
}

a {
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
a:hover, a:focus, a:active {
  transform: scale(.95);
  opacity: 0.5;
}

.st0 {
  animation: color_change 5s infinite alternate;
}

@keyframes color_change {
  0% { fill: #DC323D; }
  50% { fill: #061F67; }
  100% { fill: #FFFFFF; }
}

@keyframes text-color {
  0% { color: #DC323D; }
  50% { color: #061F67; }
  100% { color: #FFFFFF; }
}
